
body {
  padding-top: 75px;
  background-color: #4b84d2;
}

.hoardr-text {
  background-color: #4b84d2;
  color: #ffffff;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}


.single-card-page {
	background: #4A4A4A;
	width: 75%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20%;
	padding-left: 5%;
	padding-bottom: 5%;
	border: thick solid black;
	border-width: 8px 8px 8px 8px;
}


.single-card-image {
	padding:10px;
	width:50%;
	float: left;

}

.single-card-text {
	margin-top:-60%;
	margin-right:-20%;
	margin-left: 100%;
	float: right;
	width: 80%;

}

.hello-world {
	width: 80%;
	margin-top:-8%;
}

.card_attribute {
	font-weight: bold;
}

.same-line  {
	float:right;
}

.add-to-collection-form {
	padding-right: 2.5%;
	float:right;
	width:10%;
}

.create-account-page {
	background: #4A4A4A;
	width: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20%;
	padding-left: 5%;
	padding-bottom: 5%;
	border: thick solid black;
	border-width: 8px 8px 8px 8px;
}

.create-account-form {
	margin-right: auto;
	width: 40%;
	margin-top: -30%;
}



.create-account-form-text {
	font-weight: bold;
}




