
body {
  padding-top: 75px;
  background-color: #4b84d2;
}

.hoardr-text {
  background-color: #4b84d2;
  color: #ffffff;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}


.single-card-page {
	background: #4A4A4A;
	width: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	border: thick solid black;
	border-width: 8px 8px 8px 8px;
}


.single-card-image {
	padding:10px;
	width:50%;
	float:left;

}

.single-card-text {
	margin-top:-60%;
	margin-right:30%;
	float: right;
}

.hello-world {
	width: 80%;
	
}

li {
	padding: 5px;
	color: white;
	font-weight:bold;
	
}