<html>
    <head>
    <title>Hoardr</title>
    <meta charset-"utf-8"/>
    <meta name="Author" content="Dakota Polenz" />
    <meta name="descriprion" content="Magic The Gathering Card Manager" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link rel="stylesheet" type="text/css" href="../css/basicstyle.css">
    
    <script>
			var mouseOverCard = function(card) {
				var bigCardPic = document.getElementById("bigCardPic");
				if (!card) {
					bigCardPic.style.visibility = 'hidden';
				} else {
					bigCardPic.style.visibility = 'visible';
					bigCardPic.src = card.src;
				}
				
			};
    </script>
    
    </head>
    <body>
        <table class="top" summary="Top Page Navigation">
        <tr>
            <td width="80%"><h1>User Page<h1></td>
            <td>
            <form action="../views/demoHomePage.html" method="GET" >
            <button name="Logout" type="submit">Logout</button>
            </form></td>
        </tr>
        </table>
        <h3>Your Collection</h3>
		<form action="../views/demoAddSadist.html" method="GET" >
        <button name="deleteCard" type="submit">Add Card</button>
		<form action="../views/demoUserPage.html" method="GET" >
		<button name="deleteCard" type="submit">Delete Card</button>
        <table border = "1" height = 700 style="width:90%">
            <tr>
                <td rowspan="2" width = 20%><img id="bigCardPic" style ="width: 300px;height:420px;visibility:hidden"/></td>
                <td>
                <img src="../CardPictures/AzamiLadyOfScrolls.jpg" style ="width:113px;height:155.5px" onmousedown="mouseOverCard(this)">
                <img src="../CardPictures/GraveBetrayal.jpg" style ="width: 113px;height:155.5px" onmousedown="mouseOverCard(this)">
                <img src="../CardPictures/CruelSadist.jpg" style ="width: 113px;height:155.5px" onmousedown="mouseOverCard(this)">
                <img src="../CardPictures/AxebaneGuardian.jpg" style ="width: 113px;height:155.5px" onmousedown="mouseOverCard(this)">
                </td>
                <td rowspan="2" width = 20%>
				<ul style="list-style:none">
					<li>Deck Stats</li>
					<li>Cards: 2</li>
					<li>Creatures: 1</li>
					<li>Sorceries: 0</li>
					<li>Enchantments: 1</li>
					<li>Instants: 0</li>
					<li>Artifacts: 0</li>
					<li>Lands 0</li>
				</ul>
				</td>
            </tr>
            <tr>
                <td>
                <img src="../CardPictures/AzamiLadyOfScrolls.jpg" style ="width: 113px;height:155.5px" onmousedown="mouseOverCard(this)">
                <img src="../CardPictures/GraveBetrayal.jpg" style ="width: 113px;height:155.5px" onmousedown="mouseOverCard(this)">
                </td>
            </tr>
            </table>
    </body>
</html>
