<html>
    <head>
    <title>Hoardr</title>
    <meta charset-"utf-8"/>
    <meta name="Author" content="Dakota Polenz" />
    <meta name="descriprion" content="Magic The Gathering Card Manager" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link rel="stylesheet" type="text/css" href="../css/basicstyle.css">
    </head>
    <body>
    <table class="top" summary="Top Page Navigation">
        <tr>
            <td width="80%"><h1>Hoardr<h1></td>
            <td class="login"><h2>Login</h2>
            <form action="../views/demoUserPage.html" method="GET" >
            UserName: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit">
            </form></td>
        </tr>
    </table>
    <div class="sidebar2">
        Promotion<br>
        Resources<br>
        Donate<br>
        Forums<br>
    </div>
    <div class="sidebar">
        Promotion<br>
        Resources<br>
        Donate<br>
        Forums<br>
    </div>
   
    <div class="main"> 
	 <h3 align = "center"> Main Page News And Stuff</h3>
	Welcome to Hoarder! This is a web application that will be used to manage Magic the Gathering card. This service will allow for organizing and optimizing your decks with ease. The product will allow for multiple decks to be made from a collection that you create. Any of the current card sets will be available and a variety of useful statistics will be generated for individual cards as well as your decks as a whole.
    </div>

    </body>
</html>