h1 {
    position: relative;
    left: 2.5%;
    top: 95%;
    font: 40px/40px sans-serif;
}

h3 {
    width: 500px;
	position: relative;
    float: center;
    padding-top: 10px;
    padding-left: 10px;
}

table.top {
    width: 100%;
    height: 10%;
    background-color: #5E9EFF;
    border: 10px solid black;

}

td.login {
    outline: thin solid black;
}

div.sidebar {
    line-height:30px;
    background-color: #5E9EFF;
    border: 5px double black;
    border-left-color: black;
    height:800px;
    width:150px;
    float:left;
    padding:5px; 
}


div.main {
    width: 700px;
    float: left;
    padding: 10px;
}