<html>
    <head>
    <title>Hordr</title>
    <meta charset-"utf-8"/>
    <meta name="Author" content="Dakota Polenz" />
    <meta name="descriprion" content="Magic The Gathering Card Manager" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link rel="stylesheet" type="text/css" href="../css/basicstyle.css">
    </head>
    <body>
    <table class="top" summary="Top Page Navigation">
        <tr>
            <td width="80%"><h1>Hordr<h1></td>
            <td class="login"><h2>Login</h2>
            <form action="../views/demoUserPage.html" method="GET" >
            UserName: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit">
            </form></td>
        </tr>
    </table>
    <div class="sidebar">
        Offsite links<br>
        or Onsite links<br>
        Used for anything<br>
        Not active now<br>
    </div>
    <h3> Main Page News And Stuff</h3>
    <div class="main"> This is normally where we would put all of our on site news. For now it will contain this message about the stuff we put on this site I guess. There are a few things I still need to find out. Like how to make a div class into columns which apparently was changed and or taken out when HTML 5 was implemented which is a bit of a pain.
    </div>
    </body>
	

</html>
