<html>
	<head>
	<title>Hordr</title>
	<meta charset-"utf-8"/>
    <meta name="Author" content="Dakota Polenz" />
    <meta name="descriprion" content="Magic The Gathering Card Manager" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
	<link rel="stylesheet" type="text/css" href="../css/basicstyle.css">
	</head>
	<body>
	<table width="100%" height="10%" border="1" summary="Top Page Navigation">
		<tr>
			<td width="80%"><h1>Hordr<h1></td>
			<td><h2>Login</h2>
			<form action="../views/demoUserPage.html" method="GET" >
            UserName: <input type="text" name="username"><br>
            Password: <input type="text" name="password"><br>
            <input type="submit">
			</form></td>
		</tr>
	</table>
	<h3> Main Page News And Stuff</h3>
	</body>
</html>